/*--The style file for the alternate dimension version of the site--*/


body
{
    font-family: 'Oxygen', sans-serif;
    background-color: rgba(40, 40, 40);
    color: #0288D1;
}

.AltDimensionSection button
{
    background-color: rgba(40, 40, 40);
    border-color: #0288D1;
    color: #0288D1;
}

.AltDimensionSection button:hover
{
    border-color: #0288D1;
    color: #0288D1;
}

.AltDimensionSection button:focus
{
    color: #0288D1;
}


/*--Adjust the borders of all section elements--*/

.SectionTitleUnderline
{
    border-bottom: 1px solid #0288D1;
}

.PlanetSelection
{
    border-right: 1px solid #0288D1;
}

.PlanetSelection button
{
    border-color: #0288D1;

    background-color: rgba(40, 40, 40);
    color: #0288D1;
}

.PlanetSelection button:hover
{
    border-color: #0288D1;
    color: #0288D1;
}

.PlanetSelection button:focus
{
    color: #0288D1;
}