/*--The styling for the main content of the site--*/
/*--DO NOT ADJUST COLOURS AND BORDERS IN THIS File--*/
/*--Colours are handled in the files Style.css and AltDimensionStyles.css--*/

.TitleSection #YearDisplay
{
    margin-top: 10px;
    margin-left: 25px;

    font-size: 15px;
    letter-spacing: 1px;
}


.AltDimensionSection
{
    margin-top: 20px;
}

.AltDimensionSection button
{
    padding: 10px;
    border-radius: 0px;

    font-size: 15px;

    width: 110%;
    height: 50px;

    display: block;

    transition: all cubic-bezier(0,1.18,.89,.97) 0.15s;
    -webkit-transition: all cubic-bezier(0,1.18,.89,.97) 0.15s;
}

.AltDimensionSection button:hover
{
    font-size: 17px;
}

.MainContent
{
    margin-top: 20px;
}

.SectionTitleUnderline
{
    margin-bottom: 20px;
}

.PlanetSelection
{
    height: 500px;
}

.Section
{
    padding-left: 0px;
    padding-right: 0px;
}

.DsPlanetContent
{
    margin-left: 10px;
}

.PlanetSelection button
{
    font-size: 15px;
    border-radius: 0px;
    text-align: left;

    display: block;
    width: 50%;
    height: 50px;

    padding-left: 20px;

    transition: all cubic-bezier(0,1.18,.89,.97) 0.15s;
    -webkit-transition: all cubic-bezier(0,1.18,.89,.97) 0.15s;
}

.PlanetSelection button:hover
{
    font-size: 18px;
}

.DsPlanetContent
{
    margin-left: 18px;
}

.DsPlanetContent h4
{
    font-size: 18px;
    font-weight: bold;
}

.DsPlanetContent p
{
    font-size: 15px;
    width: 500px;
}

.DsPlanetContent img
{
    margin-top: 15px;
    margin-bottom: 15px;

    height: 250px;
    width: 250px;
}