/*--The style file for the regular dimension of the site--*/

body
{
    font-family: 'Oxygen', sans-serif;
}

.AltDimensionSection button
{
    border-color: black;
}

.AltDimensionSection button:hover
{
    border-color: black;
    color: black;
}

.AltDimensionSection button:focus
{
    color: black;
}

.SectionTitleUnderline
{
    border-bottom: 1px solid black;
}

.PlanetSelection
{
    border-right: 1px solid black;
}

.PlanetSelection button
{
    border-color: black;
    color: black;
}

.PlanetSelection button:hover
{
    border-color: black;
    color: black;
}

.PlanetSelection button:focus
{
    color: black;
}

