/*--The style file for the regular dimension of the site--*/

body
{
    font-family: 'Oxygen', sans-serif;
}

.SectionTitleUnderline
{
    border-bottom: 1px solid black;
}

.PlanetSelection
{
    border-right: 1px solid black;
}

.PlanetSelection button
{
    border-color: black;
}

